[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==3.3.2"

[packages]
django = "==4.2.17"
graphene-django = "==3.1.2"
django-filter = "==2.4.0"
django-graphql-jwt = "==0.3.4"
python-dotenv = "==0.19.0"
graphene = "==3.2.2"
djangorestframework = "==3.15.2"
django-cors-headers = "==3.4.0"
coreapi = "==2.3.3"
psycopg2 = "==2.8.6"
gunicorn = "==23.0.0"
django-dbbackup = "==4.0.2"
dropbox = "==10.9.0"
django-storages = "==1.13.2"
django-ipware = "==4.0.0"
pyjwt = "==2.7.0"
geoip2 = "==4.3.0"
django-crontab = "==0.7.1"
django-upgrade = "==1.22.2"

[requires]
python_version = "3.10"
